{% extends "base.html" %}

{% block title %}notice_all.html{% endblock %}

{% block content %}
<div id="content">

<h1>Notice List</h1>

{% for notice in notices %}
    <h2><a href='{{ notice.get_absolute_url }}'>{{ notice.title }}</a></h2>
    {{ notice.modify_date|date:"N d, Y" }}
    <p>{{ notice.description }}</p>
{% endfor %}

<br/>

<button type="button" onclick="location.href='{% url 'notice:add' %}'">ADD</button>

<div>
    <span>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">PreviousPage</a>
        {% endif %}
      
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">NextPage</a>
        {% endif %}
    </span>

</div>

</div>
{% endblock %}
