{% extends "base.html" %}

{% block title %}sermon_detail.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "photo/photo.css" %}{% endblock %}

{% block content %}
<div id="content">

    <h2 style="display:inline">{{ object.name }}</h2>
    &emsp;<b><i>{{ object.description }}</i></b>

    <hr/>

    <div class="sermon_type-detail">
        {% for content in object.content_set.all %}
        <div class="sermon_type-detail-content">
            <a href="{{ content.get_absolute_url }}">
            <h4>{{ content.title }}</h4>
            </a>
            <pre>{{ content.description }}</pre>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}